<!DOCTYPE html>

<html>

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<div class="container">
		{{ content }}
	</div>
	<footer>
		<ul>
			<li><a href="https://www.linkedin.com/in/amyrlam/" target="_blank" rel="noopener noreferrer">linkedin</a></li>
			<li><a href="https://github.com/amyrlam" target="_blank" rel="noopener noreferrer">github</a></li>
			<li><a href="mailto:hello@amyrlam.com" target="_blank" rel="noopener noreferrer">email</a></li>
			<li><a href="https://www.threads.net/@amyrlam" target="_blank" rel="noopener noreferrer">threads</a></li>
			<li><a href="https://hachyderm.io/@amyrlam" target="_blank" rel="me noopener noreferrer">mastodon</a></li>
			<li><a href="https://twitter.com/amyrlam" target="_blank" rel="noopener noreferrer">twitter</a></li>
		</ul>
	</footer>
</body>

</html>
